body {
    overflow-x:hidden;
    font-family: "Roboto";
}
.container {
    width: 1140px;
    margin: auto;
}
header img {
    width: 100%;
}
header img.logo {    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    width: 194px;
    height: 98px;
    opacity: 0.7;
    margin-top: -999px;
}
.search-bar span img {
    width: 50px;
    height: 45px;  
    z-index: -1;
    float: right; 
}
.nav-bar ul li a {
    text-decoration: none;
    color: #242424;
    font-family: "Roboto";
    font-size: 23px;
    font-weight: bold;
    line-height: 42.33px;
    letter-spacing: 4.14px;
    padding: 0px 30px;   
}
.nav-bar ul li {
    display: inline;
}
.nav-bar {
    text-align: center;
    margin-top: 45px;
}
.child-head h1{
    text-align: center;
    font-family: "Roboto";
    font-size: 35px;
    font-weight: bold;
    line-height: 42.33px;
    text-transform: uppercase;
    letter-spacing: 6.3px;
    margin-top: 40px;
}
.travelers {
    right: 0;
    position: absolute;
    z-index: 1;
    margin-top: -140px;
}
.left-box {
    margin-top: 650px;
    margin-left: -150px;
}
.left-box h1 { 
    font-size: 80px;
    font-weight: 400;
    line-height: 34.4px;
    letter-spacing: 1.96px;
}
.left-box h2 {
    margin-top: 50px;
   color: #242424;
   font-family: " ";  
   font-size: 80px;
   font-weight: 400;
   line-height: 45.27px;
   text-transform: uppercase;
   letter-spacing: 1.5px;
}
.left-box p {
   color: #272626;
   font-size: 21px;
   font-weight: 300;
   line-height: 42.33px;
   letter-spacing: 0.42px;
   margin-top: 30px;
   margin-bottom: 70px;
}
.left-box div.btn-left a{
    text-decoration: none;
    background-color: #3acdd5;
    color:#ffffff;
    box-shadow: 0 4px 5px 1px rgba(0, 0, 0, 0.2);
    border-radius: 40px;
    padding: 15px 35px;
    margin: 50px;
    margin-top: 50px;
    font-size: 31px;
    font-weight: 700;
   line-height: 28.89px;
   text-transform: uppercase;
   letter-spacing: 0.92px;
}
.left-box div.btn-left a:hover {
    background-color: #ffffff;
    color: #000;
    transition: .5s;
}

.bags-header {
    text-align: center;
}
.bags-header h1 {
    margin-top: 180px;
    font-weight: bold;
    font-size: 60px;
    font-weight: 300;
    line-height: 45px;
}
.bags-header p {
    margin-top: 40px;
    font-weight: bold;
    font-size: 17px;
    word-spacing: 1.5px;
}
.bags-header main {
    margin-top: 90px;
    color: #3acdd5;
}
.bags-header main span {
    padding-left: 100px;
    font-size: 25px;
}
.bags-row {
    display: inline-flex;
    flex: 1;
    position: relative;
}
.bag-box p {
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    margin-top: 20px;
}
.bag-box span{
    font-weight: bold;
    margin-top: 110px;
    font-size: 15px;
}
.bag-box {
    padding: 20px;
    text-align: center;
    margin-top: 50px;
}
.shopping-cart {
    color: #3acdd5;
}
.center-btn {
    text-align: center;
    margin-top: 200px;
}
.center-btn a{
    text-decoration: none;
    background-color: #3acdd5;
    color:#ffffff;
    box-shadow: 0 4px 5px 1px rgba(0, 0, 0, 0.2);
    border-radius: 40px;
    padding: 15px 35px;
    margin: 50px;
    font-size: 31px;
    font-weight: 700;
   line-height: 28.89px;
   text-transform: uppercase;
   letter-spacing: 0.92px;
}
.center-btn a:hover {
    background-color: #ffffff;
    color: #000;
    transition: .5s;
}
#third-cam {
    margin-top: 150px;
}
#third-cam-text {
    margin-top: 120px;
}
#first-text {
    margin-right: 160px;
}
.lens {
    margin-left: -120px;
}
.row {
    display: inline-flex;
    text-align: center;

}
.right-text {
    margin-right: 500px;
    margin-top: 50px;
}
.left-text {
    margin-top: 50px;
}
.right-text p{
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    margin-top: 20px;
}
.left-text p{
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    margin-top: 20px;
}
.right-text main {
    font-weight: bold;
    margin-top: 10px;
    font-size: 15px;
}
.left-text main {
    font-weight: bold;
    margin-top: 10px;
    font-size: 15px;
}
.center-cam {
    text-align: center;
}
.center-text p {
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    margin-top: 70px;
}
.sign-section img {
    width: 100%;
}
nav.sign-text h1 {
    margin-top: -700px;
    font-weight: bold;
    font-size: 60px;
    font-weight: 300;
    line-height: 50px;
    color: #ffffff;
}
nav.sign-text h2 {
    font-weight: bold;
    font-size: 10px;
    color: #ffffff;
    font-weight: 200;
    line-height: 60px;
    font-size: 50px;
}
nav.sign-text p {
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    margin-top: 70px;
    color: #ffffff;
    margin-bottom: 50px;
}
nav.sign-text main span a {
    text-decoration: none;
    color: #ffff;
}
nav.sign-text main span.right-btn a {
    background-color: #ffffff;
    color:#000 !important;
    box-shadow: 0 4px 5px 1px rgba(0, 0, 0, 0.2);
    border-radius: 40px;
    padding: 15px 80px;
    margin: 50px;
    font-size: 15px;
    font-weight: 700;
   line-height: 28.89px;
   letter-spacing: 0.92px;
   text-align: center;
}
nav.sign-text main span.right-btn a:hover {
    background: #3acdd5;
    color: #ffffff;
    box-shadow: 0 4px 5px 1px rgba(0, 0, 0, 0.2);
    transition: .5s;
}
nav.sign-text main span.left-btn a{
    background-color: #3acdd5;
    color:#ffffff;
    box-shadow: 0 4px 5px 1px rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    padding: 15px 35px;
    margin: 10px;
    font-size: 15px;
    font-weight: 700;
   line-height: 28.89px;
   letter-spacing: 0.92px;
   text-align: center;
}

nav.sign-text main span.left-btn a:hover {
    background: #ffffff;
    color: #000;
    transition:.5s ;
}
.footer a {
    text-decoration: none;
}
.footer {
    margin-top: 300px;
}
.footer {
    display: flex;
    margin-left: 80px;
}
.footer main {
    padding: 157px;
}
.footer main h3 {
    font-size: 40px;
    font-weight: 100;
    padding:  10px ;
}
.footer main ul li a {
    color: #000;  
}
.footer main ul li {
    font-size: 20px;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 20px;  
    padding-left: 10px;
}
.social ul{
    list-style: none;
    display: flex;
    margin-left: 580px;
}
.social ul li {
    padding: 20px;
}


